# Core ML & Data
pandas
numpy
scikit-learn
scipy
joblib

# NLP
textblob

# Visualization
matplotlib
seaborn

# Reddit API
praw

# Backend API
fastapi
uvicorn

# Notebook execution
nbformat
nbconvert

# Environment variables
python-dotenv

# Frontend (Streamlit app)
streamlit
